# Ignore IntelliJ IDEA project settings
.idea
# Ignore virtualenv working dir
.env
# Ignore lambda package build dir
.build
# Ignore lambda package assets dir
.assets
# Ignore pytest cache dir
.pytest_cache
# CDK asset staging directory
.cdk.staging
cdk.out

# Ignore pycache
**/__pycache__
# Ignore *.pyc and *.pyo
**/*.py[co]
# Ignore *.egg-info
**/*.egg-info

# Ignore npm package dir and lock
node_modules/
package-lock.json

# Ignore user.json for security
user.json

